# you should add a .env file with these keys but actually defining their values.
# CANNOT HAVE WHITESPACE AROUND KEYS OR VALUES!!
# KEY=VALUE

#host port
PORT=59999

#url of your hosted committy website
WEBSITE=committy.glitch.me


# admin credentials (need to be encrypted)
ADMIN_KEY=???

#

